.userimage img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

input
{
    border-radius: 15px;
}

textarea
{
    border-radius: 15px;
}

select
{
    background: #10719e;
    color: #fff;
    border-radius: 35px;
    width: 200px;
    cursor: pointer;
}

.send
{
    border-radius: 15px;
}